.paragraph-wrapper {
    text-align: center;
}

.paragraph {
    text-align: center;
    width: 50vw;
    display: inline-block;
}

.page-header {
    text-align: center;
}

/* Navbar */
#navbar {
    background-color: red;
    width: 100vw;
    height: fit-content;
}

#nav-title-logo-wrapper {
    width: 100vw;
}

#nav-logo {
    padding-top: 2vh;
    width: 10vw;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#nav-title {
    width: 30vw;
    font-size: 5vw;
    text-align: center;
    text-decoration: underline;
    color: #F0EAD6;
    padding-bottom: 1vw;
    display: inline-block;
    padding-left: 25vw;
    vertical-align: middle;
}

#nav-links-wrapper {
    display: inline-block;
    width: 100vw;
    text-align: center;
}

.nav-link {
    display: inline-block;
    width: 20%;
    font-size: 3vw;
    color: #F0EAD6;
}

/* Home */
#home-img-wrapper {
    text-align: center;
}

#home-pizza {
    width: 50%;
    height: auto;
}

/* Contact Page */
#contact-form {
    text-align: center;
}

/* .contact-label {
    border: solid black 3px;
} */

.contact-input {
    border: solid red 3px;
}

#contact-message {
    height: 15vh;
    width: 25vw;
}

/* About Page */
#about-us-wrapper {
    text-align: center;
}

/* Order Page */
#order-form {
    text-align: center;
}

.order-input {
    width: 25vw;
}

#order-submit {
    margin-left: 5%;
}