.paragraph-wrapper {
    text-align: center;
}

.paragraph {
    text-align: center;
    width: 50vw;
    display: inline-block;
}

.page-header {
    text-align: center;
}

/* Navbar */
#navbar {
    background-color: red;
    width: 100vw;
    height: fit-content;
}

#nav-title-logo-wrapper {
    width: 100vw;
}

#nav-logo {
    padding-top: 2vh;
    width: 10vw;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#nav-title {
    width: 30vw;
    font-size: 5vw;
    text-align: center;
    text-decoration: underline;
    color: #F0EAD6;
    padding-bottom: 1vw;
    display: inline-block;
    padding-left: 25vw;
    vertical-align: middle;
}

#nav-links-wrapper {
    display: inline-block;
    width: 100vw;
    text-align: center;
}

.nav-link {
    display: inline-block;
    width: 20%;
    font-size: 3vw;
    color: #F0EAD6;
}

/* Home */
#home-img-wrapper {
    text-align: center;
}

#home-pizza {
    width: 50%;
    height: auto;
}

/* Contact Page */
#contact-form {
    text-align: center;
}

/* .contact-label {
    border: solid black 3px;
} */

.contact-input {
    border: solid red 3px;
}

#contact-message {
    height: 15vh;
    width: 25vw;
}

/* About Page */
#about-us-wrapper {
    text-align: center;
}

/* Order Page */
#order-form {
    text-align: center;
}

.order-input {
    width: 25vw;
    margin: 1vw;
}

.order-category-header {
    margin-bottom: 1vh;
    text-decoration: underline solid red 2px;
}

.order-category-wrapper {
    text-align: center;
    margin-left: 5vw;
    width: 90vw;
}

.crust-option {
    display: inline-block;
    text-align: center;

}

.crust-label {
    display: inline-block;
    text-align: center;
    padding-left: 2vw;
}

label img {
    height: auto;
    width: 15vw;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.topping {
    text-align: justify;
    width: fit-content;
    text-align: center;
    display: inline-block;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
}

.topping img {
    display: block;
    margin: 0 auto;
}

#order-comment {
    width: 35vw;
    height: 10vh;
}

#order-submit {
    margin-left: 5%;
} 